body{
    margin:0 auto;
    max-width:2224px;
    height:100%;
}
#header{
    box-shadow: 0px 1px 10px gray;
    display: inline-block;
    width: 98%;
    background-image:url(../src/music.png)!important; 
    min-width: 522px;
    margin:0.6% 1%;
    text-align: center;
}
.logo{
    font-family: 'myFont2';
    font-size: 2.5em;
    margin-left: 1%;
    text-decoration: none;
    color:black;
    float: left;
}
.login{
    float:right;
    line-height:4;
    margin-right: 1%;
}
.searchData{
    margin-top: 20px;
    width: 350px;
    border-radius: 5px;
    height: 19px;
    background: url(../src/search.png) no-repeat;
    background-position: right;
    background-size: 17px 17px;
    padding: 3px;
    background-color: white;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.searchData:focus {
    width:550px;
}
.delete{
    position: absolute;
    right: 6px;
    height: 30px;
    z-index: 1;
    top: 0px;
}
#notifiche{
    position: absolute;
    left:50%;
    color:white;
    top:58px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
.notifica{
    height:18px;
    width:14px;
    float:left;
    margin-right: 14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    line-height: 1.1;
    text-shadow: 0 -1px 0 silver;
    border-radius: 2px;
    border:1px solid;
    margin-top: 8px;
    position:absolute;
    display: none;
    top: 0;
    z-index: 333333333333;
    cursor: default; 
}
.commenti{
    display: inline-block;
    width:100%;
    background:whitesmoke;
    position:relative;
    border:1px solid transparent;
    text-align: center;
}
.showComments{
    margin-top: -2%;
    text-align: center;
}
#map-canvas { 
    height: 80%;
    width: 100%;
    height:250px;
    position: relative;
    background-color: rgb(229, 227, 223); 
    overflow: hidden; 
    -webkit-transform: translateZ(0px);
}
.msgNotifica,.msgNotifica2,.msgNotifica3{
    display: none;
    color: #000;
    z-index: 1222222222;
    margin-left: -50%;
    position: relative;
    min-width: 50%;
    margin-top: 40px;
    width: 100%;
}

.insertMap{ 
    position: relative;
    margin: 0 auto;
    width: 59%;
    background: whitesmoke;
}
#placeShare{
    background-image: url(../src/place.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border: transparent;
    vertical-align: middle;
}
.bubble 
{
    position: absolute;
    right:10px;
    top:110px;
    width: 250px;
    min-height: 80px;
    padding: 0px;
    background: lightgray;
    border: #7F7F7F solid 2px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
}
#address{
    margin-top: 2%;
}
.bubble:after 
{
    content: "";
    position: absolute;
    top: 28px;
    left: -24px;
    border-style: solid;
    border-width: 15px 24px 15px 0;
    border-color: transparent lightgray;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before 
{
    content: "";
    position: absolute;
    top: 27px;
    left: -27px;
    border-style: solid;
    border-width: 16px 25px 16px 0;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
}
nav{
    float:left;
    position:fixed;
    margin-top:30px;
    margin-left: 1px;
    z-index: 10;
}
.link1.collision,.link2.collision,.link3.collision{
    border-left-width:10px;
    margin-left:-40px;
}

.mapDesc{
    position:relative;
    font: 15px Roboto,arial,sans-serif;

}
#lista{
    list-style-type: none;
    font-family: 'Myfont';
}
#lista li a{
    text-decoration:none;
    color:black;
    font-weight: normal;
}
.links{
    display: none;
    float:left;
    margin-top:-3px;
    width:2.2px;
    height:24px;

}

.link1,.link2,.link3{
    border:transparent;
    border-style:solid;
    transition-property: border-left-color;
    transition-duration: 0.8s;
    border-width:0px 3px;
    line-height: 2;
}
.link1:hover{
    border-left-color: red;
}
.link2:hover{
    border-left-color: rgb(36, 123, 255);
}
.link3:hover{
    border-left-color: rgb(105, 207, 105);
}
.mapCommenti{
    background:whitesmoke;
    height:66.6%;
    overflow: hidden;
}
.mapCommenti:hover{
    overflow-y: scroll;
}
#bottone{
    position:absolute;
    text-align: center;
    background: #fff;
    width:60px;
    border-radius: 15px;
    right: 0px;
    top:0px;
    bottom:0px;
}
#ingrandisci, #ingrandisca{
    margin:0 2%;
    height:100%;
    max-height: 800px;
}

.mapHeader{
    font-family:MyFont2;
    width:91%;
    margin-left:8%;
    display:inline-block;
}

.next{
    position:absolute;
    margin-top:35%;
    right:0;
    z-index:2222222;
    width:60px;
    height:100px;
    opacity: 0.5;
}
.next:hover{
    opacity: 1;
}
.prev{
    position:absolute;
    margin-top:35%;
    left:0;
    z-index:2222222;
    width:60px;
    height:100px;
    opacity: 0.5;
}
.prev:hover{
    opacity: 1;
}
#footer{
box-shadow: 0px 1px 10px #808080;
display: inline-block;
font-family: "myFont2";
left: 46%;
text-align: center;
position: absolute;
margin: 0% auto 0% -14%;
background: none repeat scroll 0% 0% white;
width: 36%;
top:100%;
}
#closer:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
    width: 60px;
}
.logout{
    position:absolute;
    top:2%;
    right:1%;
    height:40px;
}
#stato{
    position: absolute;
    min-width: 920px;
    max-width:920px;
    height:25px;

    text-align: center;
    color:white;
    border-style: dashed;
    border-width:1px;

    left:20%;
    padding: 0.8em;
    top:-9px;
    word-wrap: break-word; 
}
.log{
    border:1px solid black;
    border-radius:2px;
}

#upCrono{
    display:none;
    position:absolute;
    color:white;
    width:300px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    top:70px;
    right:30px;
    word-wrap:break-word;
}

#share{
    background-image: url(../src/Share.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 8%;
    width: 8%;
    bottom:15%;
    top:15%;
    right:1%;
    border: transparent;
    vertical-align:-webkit-baseline-middle;
    border-radius: 2px;
    position:absolute;
    background-position: center;
}
.send{
    background-image: url(../src/send.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 25px;
    min-height: 25px;
    border: transparent;
    vertical-align:-webkit-baseline-middle;
    border-radius: 20px;
    margin-top: 15px;
    background-color: whitesmoke;
}
#content{
    padding-top:2em;
    padding-left:2em;
    margin-top:30px;
    min-height:1028px;
    text-align: center;
}
.pulisci{
    background: whitesmoke;
    width: 57%;
    margin: 0 auto 50px;
    border-radius: 3px;
    position:relative;
}
#update{
    width:86%;
    vertical-align:middle;
    resize:none;
    border:none;
    position:relative;
    margin-right: 10%;
    padding:1%;
}
.widthNav{
    min-width: 568px;
}
.triangle{
    width: 0px; height: 0px; 
    border-style: solid;
    border-color: whitesmoke transparent transparent;
    position: absolute;
    right: -2%; 
    border-width: 43px 80px 0px 0px;
    z-index: -1; 
    top: 0;
}
.triangles1,.triangles2,.triangles3{
    overflow: hidden;
    position: absolute;
    height: 25px;
    width: 100px;
    margin-top: 16px;
    left: -25px;
    z-index:45646544;
    display: none;
}

.triangles1:after, .triangles2:after,.triangles3:after{
    content: "";
    transform: rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg);
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 25px;
    left: 8px;
    background: none repeat scroll 0% 0% #fff;
}

.triangles2{
    left: 4px;
}
.triangles3{
    left:33px;
}


#update:focus{
    border: 1px solid lightgray;
    height:50px;
}
.commentaStato{
    width:95%;
    vertical-align:middle;
    resize:none;
    border:none;
    margin-top: 20px;
}
.commentaStato:focus{
    border: 1px solid lightgray;
    height:40%;
}
.profilo{
    height:100px;
    width:100px;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
}
.deleteCommento{
    display:none;
    position: absolute;
    right: 20px;
    height: 10px;
    z-index: 324;
    top: 10px;
}
.deleteCommento:hover{
    box-shadow: 1px 1px 2px rgba(116, 113, 113, 0.43);
}
.desc:hover .deleteCommento {
    display: block;
}
a{
    text-decoration: none;
    text-decoration-color: black;
    color:black;
}

#info{
    padding-bottom:10%;
    text-align: justify;
    float:right;
    padding:13px;
    font-size:15px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 0.6;
}
.loading{
    text-align: center;
    display:none;
}
#content #info p{
    margin: 1em auto;

}
.mappe{
    margin:80px auto;
    position:relative;    
}
.descrizione{
    margin-top:5%;
    background-color:white;
    width:80%;
    margin-left:8%;
    padding: 2em;
    border-radius: 10px;
    text-align:justify;
}
.descrMappa{
    vertical-align: text-top;
    height: 18px;
    margin-top: -3px;
    resize: none;
}
[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* nasconde onblur */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1a1a1a;	
    position:absolute;
    top:-2px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:-30px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}
.desc{
    margin-top:1%;
    padding: 1%;
    text-align:justify;
    border-bottom: 1px solid rgb(235, 233, 233);
    position:relative;
}

.notifiche{
    background: white; 
    padding: 15px;
    float: left;
    text-align: justify;
    border: 1px solid rgba(138, 136, 136, 0.12);
    border-bottom-color: lightgray;
    z-index: 1;
    box-shadow: 10px 10px 10px lightgray;
    clear: both;
    width: 500px;
    margin-left: -14px;
}

.nome{
    font:bold 11px 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
    margin-top: 1px;
    display:inline-block;
}
.nomination,.user{ 
    margin: 10px 0;
    border: 1px solid #999;
    height: 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
}
.map{
    position:absolute;
    right:8px;
    top:70px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color:white;
}
.forms{
    background: white;
    margin:15% auto;
    width:35%;
    font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.forms textarea{
    display:block;
    width:375px;
    height:134px;
    resize: none;
}
.nomination{
    width: 33%;
}
.user{
    width:67%;
}
.inputB{
    width:100px;
    background: rgb(93, 149, 248);
    color:#fff;
    font-family: "myFont";
    height:25px;
    border-radius: 3px;
    border: 1px solid rgb(68, 132, 245);
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.inputB:hover{
    box-shadow: inset 0 10px 10px #489CF7;
    -webkit-box-shadow: inset 0 10px 10px #489CF7;
    -moz-box-shadow: inset 0 10px 10px #489CF7;
    -o-box-shadow: inset 0 10px 10px #489CF7;
}
#titolo {
    margin-top:8%;
    margin-bottom:0px;
    margin-left:8%;
    text-align:justify;
}
#dati{
    float:left;
    width: 15%;
    background: lightgray;
}
#profiloSmall{
    height:30px;
    border-radius: 50px;
    float:right;
    margin-top: 13px;
    margin-right: 5%;
}
#showInfo{
    position: absolute; 
    right: 5%;
    border: 1px solid; 
    box-shadow: 0 1px 2px silver;
    -webkit-box-shadow: 0 1px 2px silver;
    -moz-box-shadow:  0 1px 2px silver;
    -o-box-shadow:  0 1px 2px silver;
    z-index:10;
    background: rgba(255, 255, 255, 0.96);
    border-color: silver;
    display:none;
    text-align: left;
    margin-top: 15px;
}
.profiloInfoButtons{
    color: rgb(255, 255, 255); 
    font-size: 13px;
    height: 26px; 
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
    background: none repeat scroll 0% 0% rgb(148, 224, 148);
    border: 1px solid rgb(105, 207, 105);
    margin-left: 10px;
    margin-bottom:10px;
    border-radius: 1px;
}
.inputG{
    width:100px;
    background: rgb(148, 224, 148);
    color:#fff;
    font-family: "myFont";
    height:25px;
    border-radius: 3px;
    border: 1px solid rgb(105, 207, 105);
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.inputG:hover{
    box-shadow: inset 0 10px 10px #9CE29C;
    -webkit-box-shadow: inset 0 10px 10px #9CE29C;
    -moz-box-shadow: inset 0 10px 10px #9CE29C;
    -o-box-shadow: inset 0 10px 10px #9CE29C;
}
.tempo{
    font: normal 11px Roboto,arial,sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: rgb(124, 123, 123);
    margin-top: -10px;
}
.timeCommenti{
    font: normal 10px Roboto,arial,sans-serif;
    top:-12px;
    position:relative;
    color: rgb(168, 163, 163);
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
    display: inherit;
}
.ul{
    padding-left:15%;
    margin-left:10%;
    margin-right:auto;
    list-style: none;
}
@font-face {
    font-family: "myFont";
    src: url("../src/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "myFont2";
    src: url("../src/Brandon.ttf");
}
.ulr{
    padding-left:15%;
    margin-right:auto;
    list-style: none;
}
.lista{
    clear: both;
    float: left;
    background: whitesmoke;
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 10px;
}
.followAdd{
    float: right;
    color: white;
    font-size: 13px;
    padding: 4px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% rgb(209, 197, 197);
    border: 1px solid white;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
}
#listaFollowing{
    display:inline-block;
    width:100%;
}
#add{
    width:100px;
    height:100px;
}
.trianglesInfo{
    overflow: hidden;
    position: absolute;
    height: 25px;
    width: 75px;
    margin-top: -24px;
    right: 0;
}
.nameFriend{
    text-decoration: none;
    color: rgb(124, 228, 124);
    font: bold 15px Roboto,arial,sans-serif;
}
.trianglesInfo:after{
    content: "";
    transform: rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg);
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
    background: none repeat scroll 0% 0% #fff;
}

#message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);                                      
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    left:25%;
    right:25%;
    width: 50%;
    z-index: 104543534;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    background-color: #de4343;
    border-color: #c43d3d;
    top:50%;
    -webkit-animation:animate-bg 5s linear infinite;
    animation: animate-bg 5s linear infinite;
}
.alertButton{
    float: right;
    width: 100px;
    border: 1px solid transparent;
    background: none repeat scroll 0% 0% #FFF;
    font-weight: bold;
    margin-top: 20px;
}
#message h3{
    margin: 0 0 5px 0;                                                  
}

#message p{
    margin: 0;                                                  
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}





.testR{
    float: right;
    position: absolute;
    right: 10px;
    z-index: 999;
}
.testL{
    float:left;
    position: absolute;
    left: 10px;
    z-index: 999;
}
.photo:hover,.imgThumb:hover{
    box-shadow: 1px 1px 9px black;
}

.photo{
    width: 100px;
    height: 100px;
    margin:20px;
}
.big {
    position: absolute;
    background:rgba(0, 0, 0, 0.9);
    height:100%;
    width:100%;
    z-index:100;
    right:0;
    left:0;
    top:0;
    color:white;
    overflow: hidden;
    max-width: 2224px;
    margin: 0 auto;
    min-width: 858px;
    min-height: 1024px;
}
#mapBig{
    height:80%;
    display: block;
}
.errore{
    margin:15%;
    padding:1px;
    border-radius:10px;
    font-size:1.3em;
    background: rgb(3,113,215); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(3,113,215,1) 0%, rgba(12,96,170,1) 40%, rgba(3,66,125,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(3,113,215,1)), color-stop(40%,rgba(12,96,170,1)), color-stop(100%,rgba(3,66,125,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(3,113,215,1) 0%,rgba(12,96,170,1) 40%,rgba(3,66,125,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(3,113,215,1) 0%,rgba(12,96,170,1) 40%,rgba(3,66,125,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(3,113,215,1) 0%,rgba(12,96,170,1) 40%,rgba(3,66,125,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(3,113,215,1) 0%,rgba(12,96,170,1) 40%,rgba(3,66,125,1) 100%); /* W3C */
}
#closer{
    position:absolute;
    top:0.4%;
    right:1%;
    width:40px;
    box-shadow: 1px 1px 50px rgb(36, 123, 255);
    z-index:100;
    -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
    -webkit-border-radius: 5px;
    -o-transition-property: width,height,-o-transform,background,font-size,opacity;
    -o-transition-duration: 1s,1s,1s,1s,1s,1s;
    -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
    -moz-transition-duration: 1s,1s,1s,1s,1s,1s;
    transition-property: width,height,transform,background,font-size,opacity;
    transition-duration: 1s,1s,1s,1s,1s,1s;
    opacity: 0.6;
}
#desc{
    min-height:114px;	
    color:white;
    background:rgba(0,0,0,0.7);
    padding:10px;
    text-align:justify;
    margin:0;
}
#mapInfo{
    width:24%;
    height: 100%;	
    float:right;
    margin-right: 2.5%;
    color:white;
    z-index:1222;
}
#mapShow{
    float:left;
    height:100%;
    width: 72%;
    position:relative;
}
.smallMap:hover{
    cursor:pointer;
}
.boxA {
    position:relative; 
    width: 60%;
    margin: 0 auto;
}
.boxA  img{
    margin:2.6em;

}
.boxA:hover{
    box-shadow: 1px 1px 9px black;
}

.boxAp{
    position: absolute;
    padding: 0px;
    bottom: 2px;
    color: white;
    font: bold 12px/23px Helvetica, Sans-Serif;
    letter-spacing: 1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-inline-box;
    white-space: nowrap;
    margin: 0 auto;
    margin-left: 40%;
    left: 0;
}
.adminInfo{
    float: left;
    display: inline-block;
    padding: 4px 60px;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
}
#current{
    color:white;
}
.imgThumb{
    width:50px;
    height:50px;
}
.statiInfo{
    padding:15px 20px;
    position:relative;
}

.stati{
    position:relative;
    display:inline-block;
    text-align:left;
    padding:3px;
    background:whitesmoke;
    margin-bottom: 50px;
    width:58%;

}
.prova{
    padding:5px;
    background: white;
    position:relative;
    margin:2px;
}
.status{
    left: -32px;
    padding:15px 20px;
}
.crono img{
    width:100px;
    height:100px;
    float:left;
}
.crono  span{
    max-width:740px;
}
.crono{
    display:inline-block;
    text-align:left;
    min-width:735px;
    padding:5%;
    border-radius: 10px;
}
.crono div{
    position:relative;
    max-width:450px;
    min-width:450px;
    float:left;
    margin:1em;
    padding:2em;
}

#principale{
    border-radius: 10px;
    width:478px;
    margin: 0 auto;
    font-family : "Lucida Console",Monaco, monospace;
    font-size: 1.5em;
    padding:1px;
}
.places{
    font-weight: bold;
    letter-spacing: 2px;
    font-family : "Rockwell Extra Bold", "Rockwell Bold", monospace;
    white-space:nowrap;
}

